.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/public/bg.png");
  background-size: cover;
  height: 100vh;
}
.login-header {
  width: 100%;
}
.login-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-container-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 125px;
}

.login-container-form {
  display: flex;
  flex-direction: column;
  margin-top: 83.5px;
  width: 300px;
}

.title-login {
  width: 100%;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin: 24px 0;
}

.login-input-view {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 8px 10px;
}

.login-icon {
  align-items: flex-start;
}
.login-input-text {
  flex: 1;
  text-align: center;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.login-buttonSubmit {
  background-color: var(--p1);
  color: var(--c12);
  width: 160px;
  height: 40px;
  border-radius: 1px;
  border: 1px;
  align-self: center;
  cursor: pointer;
  transition: 0.4s;
}

.login-buttonSubmit:hover {
  background-color: var(--p2);
}

.login-footer {
  width: 100%;
  text-align: center;
  margin-top: auto;
  padding: 27px;
}
