.dashboard {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.dashboard > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 24px;
}

.dash-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--c12);
  width: 100%;
  height: 56px;
  padding: 0 24px;
  border: 1px solid var(--c-10, rgba(237, 237, 237, 1));
  gap: 20px;
  border-radius: 2px;
}

.filter-PR {
  display: flex;
  height: 100%;
  gap: 32px;
}

.filter-PR > span {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.selected {
  border-bottom: 2px solid var(--p1);
  color: var(--p1);
}

.dash-mapper {
  display: flex;
  flex-direction: column;
  background-color: var(--c12);
  margin-top: 1.5rem;
  border-radius: 2px;
  flex: 1;
}

.map-bg {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 1.5rem;
  height: 100%;
  justify-content: space-between;
  gap: 5rem;
}

.map-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
}
