.dashboard {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  flex: 1;
  height: calc(100vh - (4rem + 3rem));
}

.dashboard > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 24px;
}

.dash__filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--c12);
  width: 100%;
  height: 56px;
  padding: 1rem 1.5rem;
  border: 1px solid var(--c-10, rgba(237, 237, 237, 1));
  gap: 20px;
  border-radius: 2px;
}

.dash__box__info {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--c12);
  border-radius: 2px;
  border: 1px solid var(--c-10, rgba(237, 237, 237, 1));
  padding: 24px;
}

.filter__PR {
  display: flex;
  height: 100%;
  gap: 32px;
}

.filter__PR > span {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.selected {
  border-bottom: 2px solid var(--p1);
  color: var(--p1);
}

.dash__mapper {
  display: flex;
  flex-direction: column;
  background-color: var(--c12);
  margin-top: 1.5rem;
  border-radius: 2px;
  flex: 1;
}

.map__bg {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 1.5rem;
  height: 100%;
  justify-content: space-between;
  gap: 5rem;
}

.map__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
}
